*,
*:before,
*:after {
  box-sizing: border-box;
}

.body {
  margin: 0;
  font-family: arial, sans-serif;
  color: #404248;
  /*position: relatlive;*/
}

.message {
  /*position: absolute;*/
  /*top: 0;
  left: 0;*/
  height: 20px;
}

/*******************************************************
FORMS
*******************************************************/
.input {
  display: block;
  height: 42px;
  font-size: 17px;
  text-align: center;
  margin-bottom: 18px;
  outline: none;
  width: 100%;
  border: none;
  /*border-bottom: 3px solid #b7baca;*/
  color: #404248;
  background: none;
}

[data-input="0"] {
  border-bottom: 5px solid #00bb00;
}

[data-input="1"] {
  border-bottom: 5px solid #ecec36;
}

.button {
  display: block;
  margin: 0 auto 10px;
  outline: none;
  height: 34px;
  width: 115px;
  border: 1px solid #b4b6bd;
  background-color: #dbdfe4;
}

/*******************************************************
QUALITY OF LIFE DATA DISPLAY
*******************************************************/
.qualityOfLifeData {
  margin-bottom: 25px;
}

.category {
  font-size: 0;
  margin-bottom: 10px;
}

.categoryName {
  font-size: 14px;
}

.ratingBar-outer {
  display: inline-block;
  width: calc(100% - 40px);
  max-width: 430px;
  height: 20px;
  border: 2px solid #333;
}

.ratingBar-inner {
  height: 100%;
  border-right: 1px solid #dadada;
  box-shadow: 2px 0px 6px 0px rgba(0, 0, 0, 0.1);
}

[data-cityNum="0"] {
  background-color: #00bb00;
}

[data-cityNum="1"] {
  background-color: #ecec36;
}

.ratingVal {
  display: inline-block;
  width: 40px;
  padding-left: 10px;
  font-size: 14px;
}
/*****************************************
UTILITY CLASSES
/*****************************************/
.hide {
  display: none;
}